.main{
background-color: black;
padding-bottom: 20px;
margin-bottom: 20px;
border-bottom: 2px solid;
font-style: oblique;
 color: aliceblue;
}

.footer {
    background-color:oldlace;
    padding: 1rem;
    bottom: 0;
    width: 100%;
    position: fixed;
  }

.footer-style{
    list-style-type: none;
    display:flex;
  }

.col-4
{
  display:flex;
}

.footer-header-items
{
  display:grid;
}
