footer {
    background-color:oldlace;
    padding: 1rem;
  }

.footer-style{
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    list-style-type: none;
}


.footer-style.col-4.inline li
{
  display:inline-block;
}